@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Great+Vibes&family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Gloria+Hallelujah&family=Great+Vibes&family=Jacquard+12+Charted&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Gloria+Hallelujah&family=Great+Vibes&family=Jacquard+12+Charted&family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  font-family: "Open Sans", sans-serif;
}
body {
  background: linear-gradient(to right, #bbd2c5, #536976);
}
.App {
  width: 900px;
  margin: 10px auto;
  text-align: center;
  background: #536976; 
  color: white;
  padding: 10px;
}
.headingOne {
  /* font-family: "Jacquard 12 Charted", system-ui; */
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 10px;

}
.headingTwo {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
